@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Madimi+One&display=swap');

.navbar-brand{
    /* color:rgba(33, 6, 60, 0.938); */
    color: rgb(107, 116, 226);
    font-family:"Madimi One", sans-serif; 
    font-size: 44px;
    font-weight: 600;
  }

  a{
    text-decoration: none;
  }
  .navbar{
    padding: 20px;
    padding-bottom: 10px;
    padding-left: 50px;
  }